# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../userRuleFxHiber\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProjects\userRuleFxHiber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
